#root {
    background-color: lightgrey;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

button, input[type="button"] {
    display: block;
    margin: 0 10px 10px auto;
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #02203c;
    color: white;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.tile {
    flex-basis: 40%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}