<link rel="stylesheet" href="index.css" />
<div class="head">
  <div>
    <div class="ear"></div>
    <div class="ear"></div>
  </div>
  <div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
    <div class="eye">
      <div class="pupil"></div>
    </div>
  </div>
  <div class="nose">
    <div class="nostril"></div>
    <div class="nostril"></div>
  </div>
</div>
