.head {
    background-color: #ffc0cb;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    position: relative;
}

.ear:nth-child(2) {
    right: 10px
}

.ear:first-child {
    left: 10px;
}

.ear {
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 50%;
    border: 5px solid black;
    background-color: #ffc0cb;
    position: absolute;
    top: -10px;
}

.eye:first-child {
    left: 30px;
}

.eye:nth-child(2) {
    right: 30px;
}

.pupil {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}

.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    top: 40px;
    background-color: white;
}

.nose {
    width: 100px;
    height: 60px;
    position: absolute;
    background-color: #f57187;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 50%;
    border-radius: 35%;
    border: 2px solid black;
    transform: translateX(-50%);
}

.nostril {
    height: 30px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
}