#wrapper {
    background-color: #02203c;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
}

#logo::after, #logo::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid white;
}

#logo::before {
    transform: rotate(-45deg);
}

#logo::after {
    transform: rotate(45deg);
}



#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: 5px solid white;
    border-radius: 50%;
}

h1 {
    color: white;
    font-size: 48px;
    font-family: monospace;
    right: 50px;
    vertical-align: middle;
}