div {
    border-radius: 50%
}

#inner {
    width: 50px;
    height: 50px;
    background-color: #800080;
    border: 25px solid #0000ff;
}

#middle {
    width: 100px;
    height: 100px;
    background-color: #008000;
    padding: 25px;
    border: 25px solid #ffff00;
}

#outer {
    width: 200px;
    height: 200px;
    background-color: #ffa500;
    padding: 25px;
    border: 25px solid #ff0000;
}