<head>
  <link rel="stylesheet" href="index.css" />
  <script src="index.js" defer></script>
  <head />
  <body>
    <div id="stopwatch">
      <h1>Stopwatch</h1>
      <div id="timer" role="timer">00:00:000</div>
      <button id="start-button">Start</button>
      <button id="stop-button" disabled>Stop</button>
      <button id="reset-button" disabled>Reset Button</button>
    </div>
  </body>
</head>
