

.head {
    width: 150px;
    height: 150px;
    margin: 50px;
    background-color: #a4d9eb;
    border-radius: 20px;
    position: relative;
    border: 5px solid #a4d9eb;
}

.light {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.bulb { 
    width: 30px;
    z-index: 2;
    height: 30px;
    margin-bottom: -5px;
    border-radius: 50%;
    position: relative;
    background-color: #ffa500;
}

.stick {
    width: 10px;
    height: 15px;
    background-color: #808080;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ears { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ear {
    width: 10px;
    height: 50px;
    background-color: #c90a0a;
}

.ear:first-child {
    position: relative;
    left: -50%;
    margin-right: 5px;
    border-radius: 5px 0 0 5px;
}

.ear:last-child {
    position: relative;
    left: 50%;
    margin-left: 5%;
    border-radius: 0 5px 5px 0;
}

.eyes {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 25px;
}

.eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #00b3ff
}

.nose {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 30px solid #c90a0a;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.mouth {
    width: 100px;
    height: 25px;
    background-color: #dedede;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.tooth {
    width: 5px;
    background-color: black;
    height: 100%;
}