<link rel="stylesheet" href="index.css" />
<div class="head">
  <div class="light">
    <div class="bulb"></div>
    <div class="stick"></div>
  </div>

  <div class="ears">
    <div class="ear"></div>
    <div class="ear"></div>
  </div>

  <div class="eyes">
    <div class="eye"></div>
    <div class="eye"></div>
  </div>

  <div class="nose"></div>

  <div class="mouth">
    <div class="tooth"></div>
    <div class="tooth"></div>
    <div class="tooth"></div>
    <div class="tooth"></div>
  </div>
</div>
