/*  Write your code here. */

#wrapper {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 24px;
}

#algo-expert {
    order: 2;
    flex-basis: 75%;
    margin: auto;
    background-color: #626ee3;
}

#systems-expert {
    width: 50%;
    background-color: #890023;
}

#ml-expert {
    width: 30%;
    height: 75px;
    background-color: #f37f1b;
}

#frontend-expert {
    width: 40%;
    order: 3;
    background-color: #11967e;
    bottom: 0;
}

#programming-expert {
    order: 4;
    height: 75px;
    background-color: #f21b3f;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex-direction: row;
    color: white;
    font-weight: bold;
}