<link rel="stylesheet" href="solution_one.css" />
<div id="wrapper">
  <h1>Notifications</h1>

  <div id="notifications">
    <div class="notification">
      <img
        src="https://www.w3schools.com/howto/img_avatar.png"
        alt="Avatar One"
      />
      <p><span class="user">Avatar One</span> commented on a recent post.</p>
      <span class="time">29 Minutes ago</span>
    </div>
    <div class="notification">
      <img
        src="https://www.w3schools.com/w3images/avatar2.png"
        alt="Avatar Two"
      />
      <p><span class="user">Avatar Two</span> tagged you in this post.</p>
      <span class="time">12 Minutes ago</span>
    </div>
    <div class="notification">
      <img
        src="https://www.w3schools.com/w3images/avatar6.png"
        alt="Avatar Six"
      />
      <p>
        <span class="user">Avatar Six</span> updated a new profile picture and
        banner.
      </p>
      <span class="time">29 Minutes ago</span>
    </div>
  </div>

  <button>View More</button>
</div>
