<article>
  <header>
    <h1>Introducing AlgoCoin</h1>
    <p>The future of decentralized meme currency is here.</p>
  </header>
  <section>
    <h2>What is AlgoCoin?</h2>
    <p>
      AlgoCoin utilizes a revolutionary
      <strong>proof-of-inverted-binary-tree consensus algorithm</strong> that
      will absolutely transform the way we think about currency and catapult the
      metaverse to its next major stage: <em>Web 4.0</em>. Using AlgoCoin is
      simple. Instead of hoarding capital in wallets with forgotten passwords,
      earn AlgoCoin at the time of usage through our unique point-of-sale
      system. Each inverted binary tree equates to one AlgoCoin. This means if
      your chicken tenders cost 420 AlgoCoin, all you need to do is invert 420
      binary trees.
    </p>
  </section>
  <hr />
  <section>
    <h2>Where Do I Start?</h2>
    <p>
      Getting started with AlgoCoin is as easy as reversing a linked list. We
      recommend starting out by practicing on
      <a href="https://algoexpert.io" target="_blank">AlgoExpert.</a> Next, once
      you feel you can invert binary trees as well as an Ex-FAANG 10x engineer,
      it's time to ditch your fiat currency and enter the future.
    </p>
  </section>
  <footer>Copyright 3022 AlgoCoin. All rights reserved.</footer>
</article>
