<table>
  <caption>
    Item Cart
  </caption>
  <thead>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </thead>
  <tbody>
    <tr>
      <th>Banana</th>
      <td>$1.00</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Burger</th>
      <td>$6.90</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cookie</th>
      <td>$4.20</td>
      <td>4</td>
    </tr>
  </tbody>
  <tfoot>
    <th>Total</th>
    <td>$12.10</td>
    <td>8</td>
  </tfoot>
</table>
