<div style="background-color: lightgrey">
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="Username" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="Password" required />
    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" required />
    <label for="phone_number">Phone Number:</label>
    <input type="tel" id="phone_number" name="Phone Number" />
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="DOB" />
    <label for="tos">I agree to the TOS</label>
    <input type="checkbox" id="tos" name="TOS" required />
    <button type="submit" name="Sign Up" value="Sign Up">Sign Up</button>
  </form>
</div>
